
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

 .navbar:hover{
  background: rgba(0, 0, 0, 0.5);
 }

/* Logo styling */
.logo img {
  width: 120px;
  height: auto;
}

/* Right-side button */
.nav-actions {
  display: flex;
  align-items: center;
}

.action-btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-btn:hover {
  background-color: #f6f6f5;
  color: #000;
  border-color: #ffffff;
}

/* Mobile menu toggle button  */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-actions {
    display: none;
    position: absolute;
    top: 70px;
    right: 30px;
    background: rgba(0, 0, 0, 0.95);
    opacity:0.5;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-actions.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .action-btn {
    font-size: 16px;
    width: 100%;
  }
}
